<div class="container justify-content-center">
    <div class="card cardlogin">
        <div class="centerDiv">
            <img src="../../assets/icons/download.png" alt="Card image cap">
        </div>
        <div class="card-body">
          <h6 class="card-title centerDiv">Inicia sesión en: </h6>
          <div class="centerDiv">
            <img src="../../assets/icons/facebook.png" width="90" height="90" alt="Card image cap">
            <img src="../../assets/icons/google.png" width="65" height="65"  alt="Card image cap">
          </div>
        </div>
      </div>
</div>