<div class="container justify-content-center">
  <div class="card cardlogin">
      <div class="centerDiv">
        <img src="../../assets/icons/download.png" alt="Card image cap">
      </div>
      <div class="card-body">
        <h6 class="card-title centerDiv">Inicia sesión en: </h6>
        <div class="centerDiv">
          <input type="text" [(ngModel)]="idUser" class="form-control" id="idU" placeholder="....">
          <img src="../../assets/icons/facebook.png" (click)="login()" width="90" height="90" alt="Card image cap">
          <!-- <img src="../../assets/icons/google.png" width="65" height="65"  alt="Card image cap"> -->
        </div>
      </div>
    </div>
</div>

<!-- Register Modal -->
<div class="modal fade" id="register" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">REGISTRO DE JUGADOR</h5>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="boardSize" class="col-sm-6 col-form-label">ID usuario</label>
          <div class="col-sm-6">
              <input type="text" [(ngModel)]="idUser" class="form-control" id="idCurrentUser" placeholder="....">
          </div>
        </div>
        <div class="form-group row">
          <label for="nSize" class="col-sm-6 col-form-label">Nickname</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="nickname" class="form-control" id="idNickName" placeholder="....">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="rSize" class="col-sm-6 col-form-label">Detalles</label> 
          <div class="col-sm-6"> 
            <input type="text" [(ngModel)]="details" class="form-control" id="idDetails" placeholder="...."> 
          </div> 
        </div> 
      </div>
      <div class="modal-footer">
        <button type="button" (click)="registerUser()" data-dismiss="modal" class="acceptButton">Aceptar</button>
        <button type="button" class="cancelButton" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- something wrong modal -->
<div class="modal fade" id="failed" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Algo salió mal....</h5>
        </div>
        <div class="modal-body">
          <label for="rSize" class="col-sm-6 col-form-label">{{errorMsg}}</label> 
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="acceptButton">Aceptar</button>
        </div>
      </div>
    </div>
  </div>