<!-- Main menu content -->
<div class="container justify-content-center">
  <div class="card centerMenu">
    <div class="card-header">
      <h4 class="centerTitle">Opciones disponibles para {{nickName}}</h4>
    </div>
    <div class="card-body">
      <div class="centerMenuItem">
        <button type="button" (click)="parametersModal()" class="centerMenuBtn">Crear partida</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="optionsAIModal()" class="centerMenuBtn">Jugar con la computadora</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="freeGamesModal()" class="centerMenuBtn">Partidas abiertas</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="invitationsModal()" class="centerMenuBtn">Invitaciones</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="allGamesModal()" class="centerMenuBtn">Registro de partidas</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="friendsModal()" class="centerMenuBtn">Lista de amigos</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="messagesModal()" class="centerMenuBtn">Chats</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click) ="exit()" class="centerMenuBtn">Salir</button>
      </div>
    </div>
  </div>
</div>
<!-- Parameters Modal -->
<div class="modal fade" id="parameters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Parámetros del juego</h5>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="boardSize" class="col-sm-6 col-form-label">Tamaño de tablero</label>
          <div class="col-sm-6">
              <input type="text" [(ngModel)]="bSize" class="form-control" id="boardSize" placeholder="Tamaño en digitos..">
          </div>
        </div>
        <div class="form-group row">
          <label for="nLine" class="col-sm-6 col-form-label">Tamaño de N en línea</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="nSize" class="form-control" id="nLine" placeholder="Tamaño en digitos..">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="rSize" class="col-sm-6 col-form-label">Número de rondas</label> 
          <div class="col-sm-6"> 
            <input type="text" [(ngModel)]="nRounds" class="form-control" id="rSize" placeholder="Tamaño en digitos.."> 
          </div> 
        </div> 
        <div class="form-group row"> 
          <div class="col-sm-6">
            <div class="form-check">
              <input class="form-check-input" type="checkbox" [value]="false" [(ngModel)]="againstPlayer" id="lblPlayer">
              <label class="form-check-label" for="lblPlayer">
                Contra jugador
              </label>
            </div>
          </div> 
          <div class="col-sm-6">
            <div *ngIf="againstPlayer">
              <select id="selectedFriend" [(ngModel)]="idP2" class="form-control">
                <option *ngFor="let friend of friendsList"
                  [value]="idP2">{{friend.nickname}}</option> 
              </select>
            </div> 
            <label *ngIf="!againstPlayer">Partida abierta</label>
          </div> 
        </div> 
        <div class="form-group row">
          <label class="col-sm-6 col-form-label">Color de ficha</label>
          <div class="col-sm-6">
            <select id="selectedColor" [(ngModel)]="nColor" class="form-control">
              <option class="{{col.styleName}}" *ngFor="let col of colors"
                [value]="col.color">{{col.name}}</option> 
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="acceptButton" data-dismiss="modal" (click)="newGame()">Guardar</button>
        <button type="button" class="cancelButton" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>
<!-- AI modal -->
<div class="modal fade" id="paramsAI" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Parámetros del juego</h5>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label class="col-sm-6 col-form-label">Tipo de juego</label>
            <div class="col-sm-6">
              <select id="gameType" [(ngModel)]="optGame" class="form-control" #t (change)="gameModeChange(t.value)">
                <option *ngFor="let option of gameAIOptions"
                  [value]="option.user">{{option.text}}</option> 
              </select>
            </div>
          </div>
          <div class="form-group row">
              <label for="boardSize" class="col-sm-6 col-form-label">Tamaño de tablero</label>
              <div class="col-sm-6">
                  <input type="number" [(ngModel)]="bSize" class="form-control" id="boardSize" placeholder="Tamaño en digitos..">
              </div>
            </div>
          <div class="form-group row">
            <label for="nbSize" class="col-sm-6 col-form-label">Tamaño de N en línea</label>
            <div class="col-sm-6">
              <input type="number" [(ngModel)]="nSize" class="form-control" id="nbSize" placeholder="Tamaño en digitos..">
            </div>
          </div>

          <div class="form-group row">
            <div class="col-sm-4 offset-md-1">
                <div class="row">
                    <label class="col-form-label">Color {{optGame}} 1</label>
                  </div>
                  <div class="row">
                    <select id="selectedColor1" [(ngModel)]="nAIColorP1" class="form-control">
                      <option class="{{col.styleName}}" *ngFor="let col of colors"
                        [value]="col.color">{{col.name}}</option> 
                    </select>
                  </div>
            </div>
            <div class="col-sm-4 offset-md-2" id="botlvl1" hidden>
              <div class="row">
                <label class="col-form-label">Dificultad</label>
              </div>
              <div class="row">
                  <select [(ngModel)]="optLevP1" class="form-control">
                    <option *ngFor="let lev of level"
                      [value]="lev.n">{{lev.level}}</option> 
                  </select>
                </div>
            </div>
          </div>
          <div class="form-group row">
              <div class="col-sm-4 offset-md-1">
                  <div class="row">
                      <label class="col-form-label">Color bot 2</label>
                    </div>
                  <div class="row">
                    <select id="selectedColor2" [(ngModel)]="nAIColorP2" class="form-control">
                      <option class="{{col.styleName}}" *ngFor="let col of colors"
                        [value]="col.color">{{col.name}}</option> 
                    </select>
                  </div>
              </div>
              <div class="col-sm-4 offset-md-2">
                <div class="row">
                  <label class="col-form-label">Dificultad</label>
                </div>
                <div class="row">
                    <select id="gameType" [(ngModel)]="optLevP2" class="form-control">
                      <option *ngFor="let lev of level"
                        [value]="lev.n">{{lev.level}}</option> 
                    </select>
                  </div>
              </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="acceptButton" data-dismiss="modal" (click)="newAIGame()">Aceptar</button>
          <button type="button" class="cancelButton" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Games modal -->
<div class="modal fade" id="gamesRegistered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro de partidas</h5>
        </div>
        <div class="modal-body">
          <!-- Show inactive games or active games -->
          <div class="form-check">
              <div class="row">
                <div class="col-sm-6">
                  <input class="form-check-input" type="radio" id="activeGameStatus" [value]="true" [(ngModel)]="isActiveGames">
                  <label class="form-check-label" for="activeGameStatus">
                    Activos ahora
                  </label>
                </div>
                <div class="col-sm-6">
                  <input class="form-check-input" type="radio" id="inactiveGameStatus" [value]= "false" [(ngModel)]="isActiveGames">
                  <label class="form-check-label" for="inactiveGameStatus">
                    Inactivos
                  </label>
                </div>
              </div>
            </div>
          <div [hidden]="!isActiveGames">
            <div *ngFor="let game of activeGames">
              <div class="form-group row">
                <div class="col-sm-4">
                  <div class="row centerGameOption">
                    <div class="spanColor" style.background-color="{{game.colors[0]}}"></div>
                    <label class="col-sm-8 col-form-label">  {{game.Jugador_1.nickname}}</label>
                  </div>
                  <div class="row centerGameOption">
                    <div class="spanColor" style.background-color="{{game.colors[1]}}"></div>
                    <label class="col-sm-8 col-form-label">  {{game.Jugador_2.nickname}}</label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row centerGameOption">
                    <label class="col-sm-8 col-form-label">Tablero: {{game.tamano}}</label>
                  </div>
                  <div class="row centerGameOption">
                    <label class="col-sm-8 col-form-label">Victoria: {{game.linea}}</label>
                  </div>
                </div>
                <div class="col-sm-4 centerGameOption">
                  <button type="button" (click)="openGame(game.id_partida)" data-dismiss="modal" class="playGameOption">Jugar</button>
                </div>
              </div>
            </div>
          </div>
          <div [hidden]="isActiveGames">
            <div *ngFor="let game of inactiveGames">
              <div class="form-group row">
                <div class="col-sm-4">
                  <div class="row centerGameOption">
                    <div class="spanColor" style.background-color="{{game.colors[0]}}"></div>
                    <label class="col-sm-8 col-form-label">  {{game.Jugador_1.nickname}}</label>
                  </div>
                  <div class="row centerGameOption">
                    <div class="spanColor" style.background-color="{{game.colors[1]}}"></div>
                    <label class="col-sm-8 col-form-label">  {{game.Jugador_2.nickname}}</label>
                  </div>
                </div>
                <div class="col-sm-4">
                  <div class="row centerGameOption">
                    <label class="col-sm-8 col-form-label">Tablero: {{game.tamano}}</label>
                  </div>
                  <div class="row centerGameOption">
                    <label class="col-sm-8 col-form-label">Victoria: {{game.linea}}</label>
                  </div>
                </div>                
                <div class="col-sm-4 centerGameOption">
                  <button type="button" (click)=replayGame() data-dismiss="modal" class="viewGameOption">Ver</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="cancelButton">Atrás</button>
        </div>
      </div>
    </div>
</div>
<!-- something wrong modal -->
<div class="modal fade" id="failed" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Algo salió mal....</h5>
      </div>
      <div class="modal-body">
        <label for="rSize" class="col-form-label">{{errorMsg}}</label> 
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="acceptButton">Aceptar</button>
      </div>
    </div>
  </div>
</div>
<!-- invitations modal -->
<div class="modal fade" id="invitations" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notifiaciones de {{nickName}}</h5>
        </div>
        <div class="modal-body">
          <!-- Show all games or active games -->
          <!-- <div *ngIf="active">
            <div *ngFor="let game of activeGames">
              <div class="form-group row">
                <div class="col-sm-9">
                  <label for="gameInfo" class="col-sm-6 col-form-label">{{game.Jugador_1.nickname}} vs {{game.Jugador_2.nickname}}</label>
                </div>
                <div class="col-sm-3">
                  <button type="button" (click)="openGame(game.id_partida)" data-dismiss="modal" class="btn btn-primary">Jugar</button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="acceptButton">Atrás</button>
        </div>
      </div>
    </div>
</div>
<!-- friend list modal -->
<div class="modal fade" id="friends" tabindex="-1" role="dialog" aria-labelledby="labFriendL" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="labFriendL">Lista de amigos</h5>
      </div>
      <div class="modal-body">
        <div *ngFor="let friend of friendsList">
          <div class="form-group row centerGameOption">
            <div class="col-sm-4">
              <label class="col-sm-8 col-form-label"> {{friend.nickname}}</label>
            </div>
            </div>
            <div class="col-sm-4 centerGameOption">
              <label class="col-sm-8 col-form-label"> {{friend.detalles}}</label>
            </div>
            <div class="col-sm-4 centerGameOption">
              <button type="button" (click)="seeMessages(friend.nickname)" data-dismiss="modal" class="playGameOption">Chat</button>
            </div>
          </div>
        </div>
        <div class="modal-footer">
            <button type="button" (click)="newFriendsModal()" class="acceptButton">Agregar amigos</button>      
            <button type="button" data-dismiss="modal" class="cancelButton">Atrás</button>
        </div>
      </div>
    </div>
</div>
<!-- add friend modal -->
<div class="modal fade" id="addFriendModal" tabindex="-1" role="dialog" aria-labelledby="lblAddF" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="lblAddF">Posibles nuevos amigos</h5>
        </div>
        <div class="modal-body">
          <div *ngFor="let friend of friendsList">
            <div class="form-group row centerGameOption">
              <div class="col-sm-4">
                <label class="col-sm-8 col-form-label"> {{friend.nickname}}</label>
              </div>
            </div>
              <div class="col-sm-4 centerGameOption">
                <label class="col-sm-8 col-form-label"> {{friend.detalles}}</label>
              </div>
              <div class="col-sm-4 centerGameOption">
                <button type="button" (click)="addFriend(friend.nickname)" data-dismiss="modal" class="playGameOption">Agregar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="cancelButton">Atrás</button>
        </div>
      </div>
</div>
<!-- free games modal -->
<div class="modal fade" id="openGames" tabindex="-1" role="dialog" aria-labelledby="labelOpenGames" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
            <h5 class="modal-title" id="labelOpenGames">Partidas disponibles</h5>
            <div class="row">
              <label class="col-form-label col-sm-6">Escoja su color:</label>
              <div class="col-sm-6">
                <select [(ngModel)]="colorSelected" class="form-control">
                  <option class="{{col.styleName}}" *ngFor="let col of colors"
                    [value]="col.color">{{col.name}}</option> 
                </select>
              </div>
          </div>
        </div>
        <div class="modal-body">
          <div *ngFor="let open of openGames">
            <div class="form-group row">
              <div class="col-sm-4">
                <div class="row centerGameOption">
                  <div class="spanColor" style.background-color="{{open.color}}"></div>
                  <label class="col-sm-8 col-form-label">  {{open.creador}}</label>
                </div>
                <div class="row centerGameOption">
                  <label class="col-sm-8 col-form-label">Rondas: {{open.rondas}}</label>
                </div>
              </div>
              <div class="col-sm-4">
                <div class="row centerGameOption">
                  <label class="col-sm-8 col-form-label">Tablero: {{open.tamano}}</label>
                </div>
                <div class="row centerGameOption">
                  <label class="col-sm-8 col-form-label">Victoria: {{open.victoria}}</label>
                </div>
              </div>
              <div class="col-sm-4 centerGameOption">
                <button type="button" (click)="openFreeGame(open.idPartida)" data-dismiss="modal" class="playGameOption">Jugar</button>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="cancelButton">Atrás</button>
        </div>
      </div>
    </div>
</div>