<div class="container justify-content-center">
  <div class="card centerMenu">
    <div class="card-header">
      <h4 class="centerTitle">Opciones disponibles para {{nickName}}</h4>
    </div>
    <div class="card-body">
      <div class="centerMenuItem">
        <button type="button" (click)="parametersBegin()" class="centerMenuBtn">Crear partida</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="optionsAIBegin()" class="centerMenuBtn">Jugar con la computadora</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="activeGamesBegin()" class="centerMenuBtn">Invitaciones</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="seeGames()" class="centerMenuBtn">Registro de partidas</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" (click)="seeMessages()" class="centerMenuBtn">Chats</button>
      </div>
      <div class="centerMenuItem">
        <button type="button" [routerLink]="['/login']" class="centerMenuBtn">Salir</button>
      </div>
    </div>
  </div>
</div>

<!-- Parameters Modal -->
<div class="modal fade" id="parameters" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Parámetros del juego</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="form-group row">
          <label for="boardSize" class="col-sm-6 col-form-label">Tamaño de tablero</label>
          <div class="col-sm-6">
              <input type="text" [(ngModel)]="bSize" class="form-control" id="boardSize" placeholder="Tamaño en digitos..">
          </div>
        </div>
        <div class="form-group row">
          <label for="nSize" class="col-sm-6 col-form-label">Tamaño de N en línea</label>
          <div class="col-sm-6">
            <input type="text" [(ngModel)]="nSize" class="form-control" id="nbSize" placeholder="Tamaño en digitos..">
          </div>
        </div>
        <div class="form-group row"> 
          <label for="rSize" class="col-sm-6 col-form-label">Número de rondas</label> 
          <div class="col-sm-6"> 
            <input type="text" [(ngModel)]="nRounds" class="form-control" id="rSize" placeholder="Tamaño en digitos.."> 
          </div> 
        </div> 
        <div class="form-group row"> 
          <label for="player" class="col-sm-6 col-form-label">Segundo jugador</label> 
          <div class="col-sm-6"> 
            <input type="text" [(ngModel)]="idP2" class="form-control" id="player" placeholder="Nombre.."> 
          </div> 
        </div> 
        <div class="form-group row">
          <label for="nColor" class="col-sm-6 col-form-label">Color de ficha</label>
          <div class="col-sm-6">
            <select id="selectedColor" [(ngModel)]="nColor" class="form-control">
              <option class="{{col.styleName}}" *ngFor="let col of colors"
                [value]="col.color">{{col.name}}</option> 
            </select>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="acceptButton" data-dismiss="modal" (click)=newGame()>Guardar</button>
        <button type="button" class="cancelButton" data-dismiss="modal">Cancelar</button>
      </div>
    </div>
  </div>
</div>

<!-- AI modal -->
<div class="modal fade" id="paramsAI" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Parámetros del juego</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <div class="form-group row">
            <label for="boardSize" class="col-sm-6 col-form-label">Tipo de juego</label>
            <div class="col-sm-6">
                <input type="text" [(ngModel)]="bSize" class="form-control" id="boardSize" placeholder="Tamaño en digitos..">
            </div>
          </div>
          <div class="form-group row">
              <label for="boardSize" class="col-sm-6 col-form-label">Tamaño de tablero</label>
              <div class="col-sm-6">
                  <input type="text" [(ngModel)]="bSize" class="form-control" id="boardSize" placeholder="Tamaño en digitos..">
              </div>
            </div>
          <div class="form-group row">
            <label for="nSize" class="col-sm-6 col-form-label">Tamaño de N en línea</label>
            <div class="col-sm-6">
              <input type="text" [(ngModel)]="nSize" class="form-control" id="nbSize" placeholder="Tamaño en digitos..">
            </div>
          </div>
          <div class="form-group row"> 
            <label for="rSize" class="col-sm-6 col-form-label">Número de rondas</label> 
            <div class="col-sm-6"> 
              <input type="text" [(ngModel)]="nRounds" class="form-control" id="rSize" placeholder="Tamaño en digitos.."> 
            </div> 
          </div> 
          <div class="form-group row"> 
            <label for="player" class="col-sm-6 col-form-label">Segundo jugador</label> 
            <div class="col-sm-6"> 
              <input type="text" [(ngModel)]="idP2" class="form-control" id="player" placeholder="Nombre.."> 
            </div> 
          </div> 
          <div class="form-group row">
              <label for="nColor1" class="col-sm-6 col-form-label">Color 1</label>
              <div class="col-sm-6">
                <select id="selectedColor1" [(ngModel)]="nColor1" class="form-control">
                  <option class="{{col.styleName}}" *ngFor="let col of colors"
                    [value]="col.color">{{col.name}}</option> 
                </select>
              </div>
            </div>
          <div class="form-group row">
              <label for="nColor2" class="col-sm-6 col-form-label">Color 2</label>
              <div class="col-sm-6">
                <select id="selectedColor2" [(ngModel)]="nColor2" class="form-control">
                  <option class="{{col.styleName}}" *ngFor="let col of colors"
                    [value]="col.color">{{col.name}}</option> 
                </select>
              </div>
            </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="acceptButton" data-dismiss="modal" (click)="newGame()">Aceptar</button>
          <button type="button" class="cancelButton" data-dismiss="modal">Cancelar</button>
        </div>
      </div>
    </div>
  </div>

<!-- Games modal -->
<div class="modal fade" id="gamesRegistered" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Registro de partidas</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Show inactive games or active games -->
          <div class="form-check">
              <div class="row">
                <div class="col-sm-6">
                  <input class="form-check-input" type="radio" name="radioGameStatus" id="activeGameStatus" [value]="true" [(ngModel)]="active">
                  <label class="form-check-label" for="activeGameStatus">
                    Activos ahora
                  </label>
                </div>
                <div class="col-sm-6">
                  <input class="form-check-input" type="radio" name="radioGameStatus" id="inactiveGameStatus" [value]="false" [(ngModel)]="active">
                  <label class="form-check-label" for="inactiveGameStatus">
                    Inactivos
                  </label>
                </div>
              </div>
            </div>
          <div *ngIf="active">
            <div *ngFor="let game of activeGames">
              <div class="form-group row">
                <div class="col-sm-4">
                  <div class="row">
                    <label class="col-sm-6 col-form-label">{{game.Jugador_1.nickname}}</label>
                  </div>
                  <div class="row">
                    <label for="gameInfo" class="col-sm-6 col-form-label">{{game.colors[0]}}</label>
                  </div>
                </div>
                <div class="col-sm-4">
                    <div class="row">
                      <label class="col-sm-6 col-form-label">{{game.Jugador_2.nickname}}</label>
                    </div>
                    <div class="row">
                      <label for="gameInfo" class="col-sm-6 col-form-label">{{game.colors[1]}}</label>
                    </div>
                  </div>
                <div class="col-sm-4 centerGameOption">
                  <button type="button" (click)="openGame(game.id_partida)" data-dismiss="modal" class="playGameOption">Jugar</button>
                </div>
              </div>
            </div>
          </div>
          <div *ngIf="!active">
            <div *ngFor="let game of allGames">
              <div class="form-group row">
                <div class="col-sm-9">
                  <label for="gameInfo" class="col-sm-6 col-form-label">{{game.Jugador_1.nickname}} vs {{game.Jugador_2.nickname}}</label>
                </div>                
                <div class="col-sm-3">
                  <button type="button" (click)=review() data-dismiss="modal" class="viewGameOption">Ver</button>
                </div>
              </div>
            </div>
          </div>

        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="cancelButton">Atrás</button>
        </div>
      </div>
    </div>
  </div>

<!-- something wrong modal -->
<div class="modal fade" id="failed" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Algo salió mal....</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <label for="rSize" class="col-sm-6 col-form-label">Probablemete el usuario no existe o no está conectado.</label> 
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="acceptButton">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- notifications modal -->
<div class="modal fade" id="activeGames" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">Notifiaciones de {{nickName}}</h5>
          <button type="button" class="close" data-dismiss="modal" aria-label="Close">
            <span aria-hidden="true">&times;</span>
          </button>
        </div>
        <div class="modal-body">
          <!-- Show all games or active games -->
          <!-- <div *ngIf="active">
            <div *ngFor="let game of activeGames">
              <div class="form-group row">
                <div class="col-sm-9">
                  <label for="gameInfo" class="col-sm-6 col-form-label">{{game.Jugador_1.nickname}} vs {{game.Jugador_2.nickname}}</label>
                </div>
                <div class="col-sm-3">
                  <button type="button" (click)="openGame(game.id_partida)" data-dismiss="modal" class="btn btn-primary">Jugar</button>
                </div>
              </div>
            </div>
          </div> -->
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="acceptButton">Atrás</button>
        </div>
      </div>
    </div>
  </div>