<div id="wrapper">
  <!-- Sidebar -->
  <div id="sidebar-wrapper">
    <!-- chat with player -->
    <div class="row chat-header">
      <div class="col-md-10">
        <img class="imageB" src="{{profilePicture}}" 
          name="profile" alt="Card image cap">
        <label width class="sidebar-brand">  Chat con: {{secondPlayerNickname}}</label>
      </div>
      <div class="col-md-2 bubleRight">
        <span style="font-size:25px;cursor:pointer;color:rgb(252, 54, 80);" (click)="backToMenu()">&#9776;</span>
      </div>
    </div>
    <div class="chatbox">
      <div class="messages">
        <div *ngFor="let message of chatLog">
          <div [class.justify-content-start]="!message[0]" [class.justify-content-end]="message[0]" class="row">
            <label [class.right]="message[0]" [class.left]="!message[0]">
              {{message[1]}}
            </label>
          </div>
        </div>
      </div>
      <div class="input-container">
        <input type="text" class="inputtext" [(ngModel)]="replyMessage">
        <button class="replyBtn" (click)="sendMessage()">Enviar</button>
      </div>
    </div>
    <div class="chat-footer">
      <i (click)="mainMenu()" style="margin-right: 20px" class="material-icons">home</i>
      <i (click)="left()" class="material-icons">directions_run</i>
    </div>
  </div>
  <!-- /#sidebar-wrapper -->

  <!-- Page Content -->
 <div id="page-content-wrapper">
    <div class="container-fluid">
      <!-- Page Main Content -->
      <div id="main">
        <div class="container-fluid">
          <!-- First row with the board -->
          <div class="row">
            <div class="col-md-11">
              <span [hidden]="wrapButton" style="font-size:40px;cursor:pointer;color:rgb(252, 54, 80);" (click)="backToMenu()">&#9776;</span>
              <!-- board -->
                <div class="container centerDiv">
                  <button type="button" class="btn btn-danger" id="nextButton" (click)="nextMove()" style="margin-bottom: 1%;text-align:right" hidden>>>></button>
                  <div class="tBoard"> 
                      <table class="board" id="tableBoard">
                          <tr *ngFor= "let column of buttonIDs">
                            <td *ngFor= "let cell of column">
                              <button type="button" id="{{cell}}" (click)="touchButton($event)" class="cellbutton btn"></button>
                            </td>
                          </tr>
                        </table>
                  </div>
                </div>
              <!-- /#board -->
            
            </div>
          </div>
          <!-- /#First row -->
          <!-- Second row with info -->
            <div class="row" style="margin-top: 2%">
              <div class="col-sm-4">
                <label class="list-group-item">Usuario: {{playerNickname}}</label>
                </div>
              <div class="col-sm-4">
                <label class="list-group-item">Turno: {{playerTurn}}</label>
                </div>
              <div class="col-sm-4">
                <label class="list-group-item">Ronda: {{playerRound + 1}}</label>
              </div>
            </div>
          <!-- /#Second row -->
        </div>
      </div>
      <!-- /#Page Main Content -->
    </div>
  </div>
  <!-- /#page-content-wrapper -->
</div>
<!-- /#wrapper -->

<!-- end game modal -->
<div class="modal fade" id="end" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">{{dialogTitleEndGame}}</h5>
      </div>
      <div class="modal-body">
        {{dialogEndGame}} en {{nSize}} en linea! Gracias por jugar.
      </div>
      <div class="modal-footer">
        <button type="button" data-dismiss="modal" class="btn btn-primary">Aceptar</button>
      </div>
    </div>
  </div>
</div>

<!-- notification -->
<div class="modal fade" id="notification" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
      <div class="modal-content">
        <div class="modal-header">
          <h5 class="modal-title" id="exampleModalLabel">{{notTittle}}</h5>
        </div>
        <div class="modal-body">
          <label for="rSize" class="col-form-label">{{notMsg}}</label> 
        </div>
        <div class="modal-footer">
          <button type="button" data-dismiss="modal" class="acceptButton" (click)="resetBoard()">Aceptar</button>
        </div>
      </div>
    </div>
</div>