.cellbutton {
	border-radius: 50%;
	min-width: 60px;
	max-width: 60px;
	min-height: 60px;
	max-height: 60px;
	background-color: #0000ff
}
.board {
	margin-top:5%;
	margin-bottom: 5%;
	width: max-content;
	/* margin: auto; */
	position:relative;
	background: lightgreen;
}
.navbar {
	background-color: darkblue
}