<nav class="navbar navbar-expand-lg navbar-dark">
    <div class="collapse navbar-collapse">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="navbar-brand" routerLink="/menu" routerLinkActive="active">Volver a menú</a>
          </li>
        </ul>
    </div>
</nav>
<div class="container board centerDiv">
    <div class="btn-group">
        <div *ngFor= "let column of idButtonGrid">
            <div *ngFor= "let cell of column">
                <button type="button" id="{{cell}}" (click)="touchButton($event)" class="cellbutton"></button>
            </div>
        </div>
    </div>
</div>