.cellbutton {
	border-radius: 50%;
	min-width: 60px;
	max-width: 60px;
	min-height: 60px;
	max-height: 60px;
	background-color: #0000ff
}
.board {
	margin-top:5%;
	margin-bottom: 5%;
	width: max-content;
	/* margin: auto; */
	position:relative;
	background: lightgreen;
}
.navbar {
	background-color: darkblue
}

/*gama de colores para la ficha */
/* .red {
  background-color: red;
}
.green {
  background-color: green;
}
.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.purple {
    background-color: blueviolet;
}
.brown{
    background-color: rgb(54, 8, 8);
} */