/* You can add global styles to this file, and also import other style files */
@import "../node_modules/bootstrap/dist/css/bootstrap.css";

body {
    background-color: lightblue
}

.centerDiv{
    margin:0 auto;
    width: 100%;
    text-align: center
}

.centerBtn{
    text-align: center;
}

.centerTitle {
    text-align: center;
}